<%= render partial: "pages/partials/menu" %>

<main>
  <h1>Сергей Шаповалов</h1>
  <h2>Будущий Rails-звездец!</h2>
  <hr>
  <section>
    <h2>Ключевые навыки:</h2>
    <ul>
      <li>Кушоц</li>
      <li>Играть</li>
    </ul>
  </section>
  <section>
    <h2>О Обо мне</h2>
    <p>Люблю покушать и поиграть</p>
  </section>
</main>